<section class="section-form">
  <form action="/addmeasurements" method="GET">
    <div class="row">
        <h2>Measurement History</h2>
    </div>
    <input type="hidden" name="id" id="id" value={{results.[0].trainee_id}}>
      <div class="row">
        <div class="col span-1-of-6">
          <label for="name"><strong>Name:</strong></label>
        </div>
        <div class="col span-1-of-6">
          <strong>{{results.[0].name}}</strong>
        </div>
      </div>
    <br>
    <br>
    {{#each results}}
        <li><a href="/chgmeasurements/{{id}}">{{measure_date}}</a></li><br>
    {{/each}}
    <br>
    <br>
    <div class="row">
        <a class="btn btn-full" href="/addmeasurements/{{traineeid}}">Add Measurements</a>
    </div>
    <br>
  </form>
</section>
